<style>

body
{
font-family:helvetica;
font-size:11px;
margin:0;
padding:0;
background-color:transparent;
}

body img {
max-width:100%;
}

blockquote {
padding: 0 0 0 15px;
margin: 0 0 20px;
padding-left: 10px;
padding-right: 5px;
border-left: 3px solid #ddd;
margin-bottom: 1.5em;
}

</style>